
<button type="button" class="btn btn-primary" routerLink="/customer/create">new customer</button>
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let customer of customers">
            <div class="card" style="width: 18rem;">
                <img class="image-fluid  mx-auto d-block" src="assets/images/personfill.png" alt="Card image cap" width="50" height="70">
                <div class="card-body">
                  <h2>{{customer.name}}</h2>
                  <p class="card-text">{{customer.address}}</p>
                  <p class="card-text">{{customer.email}}</p>
                  <p class="card-text">{{customer.contactNumber}}</p>
                  <div class="row">
                    <div class="col-auto mr-auto">
                        <a href="#" class="btn btn-primary" [routerLink]="['/customer/order',customer.id]">Orders</a>
                    </div>
                    <div class="col-auto">
                        <button (click)="deleteCustomer(customer.id)"><i class="material-icons md-18">delete</i></button>
                        <a href="#" [routerLink]="['/customer/update',customer.id]"><i class="material-icons md-18">edit</i></a>
                    </div>
                  </div>    
                </div>
              </div>
    </mat-grid-tile>
  </mat-grid-list>
  
